body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    background: #cdcbcb;

    padding: 0px;
    margin: 14px;
}

.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1127px;

    padding-top: 100px;
    margin: auto;
}

.left-container {
    box-sizing: border-box;
    width: 68.75%;

    float: left;

    padding: 14px;
    margin: 0;
}

.left-sub {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    background: white;
    
    border: 0.5px solid rgba(34,36,38,.15);
    border-radius: 4px;
}

.right-container {
    box-sizing: border-box;
    width: 31.25%;

    vertical-align: top;
    float: right;

    padding: 14px;
    margin: 0;
}

.right-sub {
    box-sizing: border-box;
    background: white;
    width: 100%;
    
    border: 0.5px solid rgba(34,36,38,.15);
    border-radius: 4px;
}

/*add bar*/
.add-row {
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    padding: 14px;
    border-radius: 4px 4px 0px 0px;
}

.clearfix::after {
    visibility: hidden;	
    display: block;
    content: "";	 
    height: 0;	 
    clear: both;	
}

.input {
    display: inline-flex;
    box-sizing: border-box;
    flex: 1 0 auto;
    line-height: 1.2142em;
    padding: .67861429em 1em;
    border: 1px solid rgba(34,36,38,.15);
    border-right: 0;
    border-radius: 4px 0px 0px 4px;
    min-width: 100px;
}

.add-button {
    box-sizing: border-box;
    right: 0;
    float: right;
    background-color: #2185D0;
    color: #FFF;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    flex: 0 0 auto;
    width: 100px;
    border-radius: 0px 4px 4px 0px;
    border: 0;
}

.row {
    border-top: 0.1px solid rgba(34,36,38,.15);
}


/* product divs */
.bl-product {
    box-sizing: border-box;
    width: 25%;

    float: left;

    padding: 14px;
}

.bl-count {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 37.5%;

    padding: 7px 14px 0px;
}

.bl-buttons {
    box-sizing: border-box;
    float: right;
    text-align: right;
    width: 37.5%;
    padding: 7px 14px 7px;
}


/*right column*/
.bl-title {
    font-size: 16px;
    font-weight: 700;

    padding: 14px;
    border-bottom: 0.1px solid rgba(34,36,38,.15);
}

.bl-content {
    padding: 14px;
    border-bottom: 0.1px solid rgba(34,36,38,.15);
}

#last-content {
    border-bottom: 0;
}

.pr-label-container {
    box-sizing: border-box;
    display: inline-block;
    
}

.pr-label {
    box-sizing: border-box;
    font-size: 9px;

    display: inline-block;
    background-color: #cdcbcb;

    padding: 6px;
    border-radius: 4px;
    
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    
}


.pr-number {
    color: white;

    background-color: #F2711C!important;

    padding: 2px 4.5px 2px 4.5px;
    border-radius: 50%;
}

/*Кнопки*/
.bl-label {
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;

    font-size: 12px;

    background-color: #cdcbcb;

    padding: 9px 12px 7px 12px;
    border-radius: 4px;
}

.bl-plus {
    width: 30px;
    height: 30px;

    color: white;
    font-weight: 800;

    background-color: #21BA45;

    border: 0;
    border-radius: 50%;
}

.bl-minus {
    width: 30px;
    height: 30px;

    color: white;
    font-weight: 800;

    background-color: #DB2828;

    border: 0;
    border-radius: 50%;
}

.bl-bought {
    width: 80px;
    height: 30px;

    font-size: 10px;

    border: 0.1px solid rgba(34,36,38,.15);
    border-radius: 4px;
}

.bl-delete {
    width: 30px;
    height: 30px;

    font-size: 10px;
    font-weight: 800;
    color: white;

    background-color: #DB2828;

    border: 0;
    border-radius: 4px;
}

.nametag {
    position: fixed;
    height: 20px;
    bottom:	0px;
    left:	20px;

    color: white;
    background-color: #5f004f;
    
    padding: 10px;
    border-radius: 4px 4px 0px 0px;
    transition:	all	0.5s	ease;
}

.nametag:hover{
    background-color: #2185D0;
    height: 55px;
}

#nametag-header{
    font-size: 16px;
    font-weight: 800;

    margin-bottom: 5px;
}

@media	print	{
    #nametag-header{
        display: none;
    }
    .nametag {
        padding-top: 5px;
        height: 25px;

        background-color: white;
        color: grey;
        border: 1px solid grey;
    }
}

@media (max-width: 700px) {
    html {
        padding: 0px;
    }
    body {
        padding: 0px;
    }
    .container	{
        width: 100%;
        min-width: 327px;
        margin: auto;
    }
    .left-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .right-container {
        width: 100%;
        
        padding-left: 0;
        padding-right: 0;
    }
}


[data-tooltip] {
    position: relative; 
}
[data-tooltip]::after {
    box-sizing: border-box;
    content: attr(data-tooltip); 
    
    width: 100px; 
    height: 0px;
    
    position: absolute; /* Абсолютное позиционирование */
    right: -100%;
    left: -100%;

    margin:	auto;
    bottom:	105%;
    
    font-size: 12px;
    font-weight: 700;

    background: #6a0074; 
    color: #fff; 
    
    opacity: 0;
    transition: 0.3s;

    border-radius: 8px;
    z-index: 100;
} 
[data-tooltip]:hover::after {
    padding-top: 5px;
    height: 25px;
    opacity: 1;
}